/* .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
} */
/* @import './customize.less'; */

.ant-layout {
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	background: none;
}

::-webkit-scrollbar {
	width: 8px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(144, 143, 143);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #e9e9e9;
}

.center-hello {
	position: absolute;
	width: 200px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	/* margin is -0.5 * dimension */
	margin-top: -100px;
}