/* .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
} */
/* @import './customize.less'; */

.ant-layout {
  background: #fff;
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(144, 143, 143);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b5025d;
}

.center-hello {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

/* body{
  font-size: 20px
} */

@media (max-width: 1080px) {
  body{
    font-size: 14px;
  }
  .sider-cus {
    display: none;
  }

  .ant-layout {
    padding: 0px;
  }

  body {
    font-size: 14px;
  }

  .content-cus {
    background: #fff;
    padding: 30px 10px 30px 10px;
    margin: 0px 0px 30px 0px;
    box-shadow: rgba(176, 168, 168, 0.75) 0px 0px -1px -1px;
    /* border-radius: 10px; */
  }
  .gatsby-highlight{
    font-size: 12px;
  }
}

.sider-cus {
  margin: 0px 10px 40px 10px;
  /* border-radius: 10px; */
  background: #fff;
  width: 13%;
}

/* .content-cus {
  background: #fff;
  padding: 60px;
  margin: 0px;
  box-shadow: rgba(176, 168, 168, 0.75) 0px 0px -1px -1px;
  border-radius: 10px;
} */
@media (min-width: 1080px) {
  .content-cus {
    background: #fff;
    padding: 60px;
    margin: 0px;
    box-shadow: rgba(176, 168, 168, 0.75) 0px 0px -1px -1px;
    /* border-radius: 10px; */
  }
}
