.tags {
	list-style: none;
	margin: 0;
	/* overflow: hidden;  */
	padding: 0;
}

.tags li {
	float: left;
}

.tag {
	background: rgb(9, 136, 196);
	border-radius: 3px 0 0 3px;
	color: #fff;
	display: inline-block;
	height: 20px;
	line-height: 18px;
	padding: 0 20px 0 23px;
	position: relative;
	margin: 0 10px 10px 0;
	text-decoration: none;
	cursor: context-menu;
	transition: color 0.2s;
	font-size: 12px;
}

.tag::before {
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	content: '';
	height: 6px;
	left: 10px;
	position: absolute;
	width: 6px;
	top: 6px;
}

.tag::after {
	background: #fff;
	border-bottom: 10px solid transparent;
	border-left: 10px solid rgb(9, 136, 196);
	border-top: 10px solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}

.tag:hover {
	background-color: rgb(9, 136, 196);
	color: white;
}

.tag:hover::after {
	border-left-color: rgb(9, 136, 196);
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;

}

.tag-cus {
	display: flex;
	position: absolute;
	bottom: 0;
	padding-left: 10px;
}

/* 
@media (max-width: 1080px) {
	.tag-cus {
		display: flex;
	}
} */

.link-card {
	font-size: 20px;
	display: inline-block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}