/* .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
} */
/* @import './customize.less'; */

.ant-layout{
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}